<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>ありがとう</title>
    <link rel="icon" href="/node_modules/favicon.ico" type="image/x-icon" />
    <!-- css 文件 -->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<article>